h1 {
    font-family: 'Source Sans Pro', 'Courier New', Courier, monospace;
    color: var(--blue);
}

body{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows:repeat(auto-fill, minmax(100px, 1fr));
    grid-template-areas:
        'header header header'
        'lateral dashboard main'
        'lateral dashboard main'
        'lateral dashboard main'
        'lateral dashboard main'
        'lateral dashboard main'
        'lateral dashboard main'
        'lateral footer main'
    ;
}