:root {
    --light-blue: #f0f3fb;
    --lighter-blue: #f8faff;
    --blue: #2b5fee;
    --yellow: #f4ba40;
    --red: #c75b4d;
    --dark-gray: #586483;
    --gray: #929bae;
    --medium-gray: #b9beca;
    --light-gray: #dadee9;
    --primary-color: var(--blue);
    --secondary-color: var(--light-blue);
    --font-color: #15264f;
}